<style>
input[type=text], input[type=email], input[type=password], input[name_of_thing], input[start_date], input[end_date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

button[type=submit]:hover {
    background-color: #45a049;
}

A {
    text-decoration: none;
    color:black;
    font-size: 30px;
}

A:hover {
    text-decoration: underline;
}

.div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.header {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;

}

main {
  padding: 0;
  margin: 0;
  padding-top: 45px;
}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        Site
        {% endblock %}
    </title>
</head>

<body>
<header>
    <div align="right" style="background-color:#45a049" class="header">
        {% if user.is_authenticated %}
        <a href="{% url 'home' %}">
            Home
        </a>
        <a href="{% url 'view_events' %}">
            View events
        </a>
        <a href="{% url 'view_holidays' %}">
            View holidays
        </a>
        <a href="{% url 'logout' %}">
            Logout
        </a>
        {% endif %}
        {% if not user.is_authenticated %}
        <a href="{% url 'home' %}">
            Main page
        </a>
        <a href="{% url 'registration' %}">
            Registration
        </a>
        <a href="{% url 'login' %}">
            Login
        </a>
        {% endif %}
        </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>