{% extends 'base.html' %}
{% block content %}
    <h1> Login Page </h1>

    <form action="" method="POST">
        {% csrf_token %}

        {% if error %}
            {{ error }}
        {% endif %}

        {{ form.as_p }}

        <input type="submit" name="submit" value="Log in"/>

    </form>
{% endblock %}
