{% extends 'base.html' %}
{% block content %}
    <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    <br>
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
            {% endfor %}

            {% for field in country_form %}
                <p>
                    {{ field.label_tag }}
                    <br>
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
            {% endfor %}

            <button type="submit" name="submit">Register</button>
        </form>
{% endblock %}