{% extends 'base.html' %}
{% block content %}
    <h2>
        Welcome, {{ user.get_full_name }}
            {{ user.username }}
        <p>
        Your email address: {{ user.email }}
        </p>

        <form method="POST">
            {% csrf_token %}
            {% for field in req_form %}
                {{ field.label }}
                <br>
                {{ field }}
                <br>
            {% endfor %}
            <input type="submit" name="submit" value="Enter thing"/>
        </form>
    </h2>
{% endblock %}