{% extends 'base.html' %}
{% block content %}
<h1>
    Users country:
    {{ users_country }}
</h1>
<br>
<hr>
{% for field in country_holidays %}
    <p>
        Name of holiday:
        {{ field.name }}
    </p>
    <p>
        Start date:
        {{ field.start_date}}
    </p>
    <p>
        End date:
        {{ field.end_date }}
    </p>
    <hr>
{% endfor %}

{% endblock %}