{% extends 'base.html' %}
{% block content %}
    <h1> View all events </h1>
    <div>
        <h3>
            <form action="" method="POST">
                {% csrf_token %}

                {% for field in date_form %}
                    {{ field }}
                    {% endfor %}

                <input type="submit" name="submit" value="Sort"/>
            </form>
             {% for field in data %}
                <br>
                    <p>
                        Name of event:
                        {{ field.name_of_thing }}
                    </p>
                    <p>
                        Start date:
                        {{ field.start_date_of_thing }}
                    </p>
                    <p>
                        End date:
                        {{ field.end_date_of_thing }}
                    </p>
                <br>
                <hr>
            {% endfor %}
        </h3>
    </div>

{% endblock %}